body {
    /*  background-image: radial-gradient(circle, white, black, white);
  background-image: linear-gradient(to right,#0052b0, #b340b3); */
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(39, 9, 121, 1) 47%, rgba(4, 59, 70, 1) 100%);
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

div#envelope {
    width: 55%;
    margin: 10px 30% 10px 25%;
    padding: 10px 0;
    border: 25px solid black;
    border-radius: 10px;
}

form {
    width: 70%;
    margin: 4% 15%;
}

header {
    background-image: linear-gradient(to left, black, white);
    text-align: center;
    padding-top: 12px;
    padding-bottom: 8px;
    margin-top: -11px;
    margin-bottom: -8px;
    border-radius: 10px 10px 0 0;
    color: darkblue;
}